<!DOCTYPE html>
    <head>
        {{> head title="⭐ Star Admin Panel"}}
    </head>

    <body>
        {{> navbarAdmin}}
        {{!-- 
        {{#unless session}}
            {{> navbar}}
        {{else}}
            {{> navbar_logged}}
        {{/unless}}
        {{{body}}}
        
        {{> footer}}

        --}}
        {{{body}}}


    </body>
</html>
