<!DOCTYPE html>
    <head>
        {{> error_head}}
    </head>

    <body>
        {{! > navbar}}
        {{!-- 
        {{#unless session}}
            {{> navbar}}
        {{else}}
            {{> navbar_logged}}
        {{/unless}}
        {{{body}}}
        
        {{> footer}}

        --}}
        {{{body}}}


    </body>
</html>
